<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/link.ejs %>
    <link rel="stylesheet" href="/css/user_header.css">
    <title><%= user_info.name %></title>
</head>
<body>
    <% include ../common/user_header.ejs %>
    sdhjsdjj
    <%= user_info.name%>
    <%= user_info.username%>
    <%= user_info.email%>
    <%= user_info.img%>
</body>