<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/link.ejs %>
    <link rel="stylesheet" href="/css/user_header.css">
    <link rel="stylesheet" href="/css/user_profile.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title><%= user_info.name %></title>
</head>
<body>
    <% include ../common/user_header.ejs %>
        <img class="slider-img" src="/images/signinbg.png">
        <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                    <img class="img-responsive user_profile_img" src="/images/<%= user_info.img %>">
                    <hr class="text-desing-hr">
                    <div class="text-div">
                        <span style="font-size: 23px; font-weight: bolder; 
                        text-transform: uppercase"><%= user_info.name %></span><br>
                        <span class="fa fa-map-marker">&nbsp; Kuril, Dhaka-1229</span><br>
                        <span class="fa fa-facebook-square">&nbsp; /ismhosen</span><br>
                        <span class="fa fa-envelope">&nbsp; ismhosen@gmail.com</span><br>
                    </div>   
                </div> 
            </div>
        </div>
        <div class="container">
            <div class="row">
                <hr class="hr-20px">
                <div class="phtos profile-gallery-div" id="recommend-text" onclick="fetchData('photos')">
                    <button class="profile-btn btn-active">Photos</button>
                    <hr class="recommend-hr">                        
                </div>
                <div class="projects profile-gallery-div" id="wedding-text" onclick="fetchData('projects')">
                    <button class="profile-btn btn-inactive">Projects</button>  
                </div>
                <div class="events profile-gallery-div" id="wildlife-text" onclick="fetchData('events')">
                    <button class="profile-btn btn-inactive">Events</button>
                </div>
                <div class="overview profile-gallery-div" id="wildlife-text" onclick="fetchData('overview')">
                    <button class="profile-btn btn-inactive">Overview</button>
                </div>
                <div class="about profile-gallery-div" id="wildlife-text"            onclick="clickEdit()">
                    <button class="profile-btn btn-inactive">Update Profile</button>
                </div>
            </div>
            <div id="main-contents">
                <div class="responsive">
                    <div class="gallery">
                        <a target="_blank" href="img_5terre.jpg">
                        <img src="/images/p1.jpg" alt="Cinque Terre" width="600" height="400">
                        </a>
                        <div class="desc"><span class="fa fa-heart">&nbsp;&nbsp;4k</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-eye">&nbsp;&nbsp;1k</span></div>
                    </div>
                </div>
                <div class="responsive">
                    <div class="gallery">
                        <a target="_blank" href="/images/p.jpg">
                        <img src="/images/p2.jpg" alt="Forest" width="600" height="400">
                        </a>
                        <div class="desc"><span class="fa fa-heart">&nbsp;&nbsp;4k</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-eye">&nbsp;&nbsp;1k</span></div>
                    </div>
                </div>
                        
                <div class="responsive">
                    <div class="gallery">
                        <a target="_blank" href="/images/p1.jpg">
                        <img src="/images/p3.jpg" alt="Northern Lights" width="600" height="400">
                        </a>
                        <div class="desc"><span class="fa fa-heart">&nbsp;&nbsp;4k</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-eye">&nbsp;&nbsp;1k</span></div>
                    </div>
                </div>
                        
                <div class="responsive">
                    <div class="gallery">
                        <a target="_blank" href="/images/p1.jpg">
                        <img src="/images/p4.jpg" alt="Mountains" width="600" height="400">
                        </a>
                        <div class="desc"><span class="fa fa-heart">&nbsp;&nbsp;4k</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-eye">&nbsp;&nbsp;1k</span></div>
                    </div>
                </div>
                <div class="responsive">
                    <div class="gallery">
                        <a target="_blank" href="/images/p1.jpg">
                        <img src="/images/p4.jpg" alt="Mountains" width="600" height="400">
                        </a>
                        <div class="desc"><span class="fa fa-heart">&nbsp;&nbsp;4k</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-eye">&nbsp;&nbsp;1k</span></div>
                    </div>
                </div>
            </div>
            
        </div>

    <!-- <div class="container">
        <div class="row">
            <div class="col-md-4 profile-class text-center">
                <img class="img-responsive user_profile_img" src="/images/<%= user_info.img %>">
                <span class="fa fa-facebook-square profileIcon"></span>
                <span class="fa fa-instagram profileIcon"></span>
                <span class="fa fa-twitter profileIcon"></span><br>
                <span class="text-design">/<%= user_info.username %></span><hr class="text-desing-hr">
                <span class="text-design" style="text-transform: uppercase"><%= user_info.name %></span><hr class="text-desing-hr">
                <span class="text-design"><%= user_info.email %></span>
                <hr class="text-desing-hr">
                <button class="btn btn-default">Update Profile</button>
            </div>
            <div class="col-md-4 total-photo text-center">
                <hr class="text-desing-hr">
                <span class="fa fa-image total-photo-icon"></span>
                    <hr class="text-desing-hr">
                    <span style="font-size: 30px; ">121</span>
                
            </div>
            <div class="col-md-4 text-center">
                <div class="div1">
                    <span class="fa fa-eye common-icon"></span>
                    <hr class="text-desing-hr">
                    <span style="font-size: 30px; ">121</span>
                </div>
                <div class="div2">
                    <span class="fa fa-thumbs-o-up common-icon"></span>
                    <hr class="text-desing-hr">
                    <span style="font-size: 30px; ">121</span>
                </div>
                <div class="div3">
                    <span class="fa fa-comment common-icon"></span>
                    <hr class="text-desing-hr">
                    <span style="font-size: 30px; ">121</span>
                </div>
                <div class="div4">
                    <span class="fa fa-share common-icon"></span>
                    <hr class="text-desing-hr">
                    <span style="font-size: 30px; ">121</span>
                </div>
            </div>
        </div>
    </div> -->



    <% include ../common/footer.ejs %>
    <script src="/js/user_profile.js"></script>
</body>
</html>